.navbar-dark .navbar-brand img {width:51px;}
.bg-white {
    background-color: #fff!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#334A6E;
}

.navbar-dark .navbar-nav .nav-link {
    color:#a2a2a2;
    padding: 0 20px;
}

ul.navbar-nav { 
    margin:0; 
    padding: 0; 
    display: table;
  }
  li.nav-item { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
    text-align: center;

  }
  a.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
  }

  a.nav-link:after {    
    content: "";
    display: block;
    height: 6px;
    left: 50%;
    position: absolute;
    background: #F6C14C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    top: -29px;
  }
  a.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
  }

  ul.login_area {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}
a.login {
    color: #F6C14C;
    padding: 10px 32px;
    transition: all 0.5s ease;
    border-radius: 20px;
}
li.login_one {
    margin: 0 10px;
}
a.login:hover {
    color: #fff;
    background-color: #F6C14C;
    border-radius: 40px;
    text-decoration: none;
    background-repeat: repeat-y;
   
}

a.login.active {
    color: #fff;
    background-color: #F6C14C;
    border-radius: 40px;
    text-decoration: none;
    background-repeat: repeat-y;
   
}
.navbar-dark .navbar-toggler {background-color: #F5A623;}

.bg-orange {
  background-color: #F6C141!important;
}

nav.bg-orange a.nav-link:after {    
  background: #fff;
  top: -29px;
}

.bg-orange .navbar-nav .nav-link {
  color:#fff;
  
}
.bg-orange a.login {
  border: 1px solid #fff;
  color: #fff;
}

.bg-orange a.login:hover {
  color: #F6C141;
  background-color: #fff;
  border: 1px solid #fff;
}

a.login img {
  width: 50px;
  height: 50px;
}

.user_pic a {
border: 0px solid;
}

.user_pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ellipsis-v-icon i {
  font-size: 25px;
  color: #fff;
} 

.user_pic {
  padding: 0 20px 0 15px;
}

i.fas.fa-ellipsis-v.dropdown-toggle:after {
  content: "";
  border-top: 0px;
  border-left: 0px;
}

.ellipsis-v-icon {
  position: relative;
}

.bg-orange .dropdown-item {
  padding: .5rem .5rem;
  border-bottom: 1px solid #eee;
}

.bg-orange .dropdown-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bg-orange .dropdown-item:last-child {
  border-bottom: 0px solid #eee;
}

.button_white {
  background-color: #fff;
  color: #000;
  border: 1px solid #eee;
  text-align: left;
}

.bg-orange .dropdown-menu.show {
  transform: translate3d(0px, 38px, 0px);right: 0;
}
.customModel .dropdown-toggle::after{
  float: right;
  margin-top: 10px;
  margin-left: 0px;
}

.save {
  color: #fff;
  background-color: #F6C14C;
  border-radius: 40px;
  text-decoration: none;
  border: 0px;
  outline: 0px;
  padding: 8px 20px;
 
}
.save:hover {
  color: #818181;
  background-color: #fff;
  border: 1px solid #818181;
 
}

.cancel {
  color: #818181;
  background-color: #fff;
  border-radius: 40px;
  text-decoration: none;
  border: 0px;
  outline: 0px;
  padding: 8px 20px;
  border: 1px solid #818181;
 
}

.cancel:hover {
  color: #fff;
  background-color: #F6C14C;
  border: 1px solid #fff;
 
}

.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden;}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}