.navbar-dark .navbar-brand img {width:51px;}
.bg-white {
    background-color: #fff!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:#334A6E;
}

.navbar-dark .navbar-nav .nav-link {
    color:#a2a2a2;
    padding: 0 20px;
}

ul.navbar-nav { 
    margin:0; 
    padding: 0; 
    display: table;
  }
  li.nav-item { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
    text-align: center;

  }
  a.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
  }

  a.nav-link:after {    
    content: "";
    display: block;
    height: 6px;
    left: 50%;
    position: absolute;
    background: #F6C14C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    top: -29px;
  }
  a.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
  }

  ul.login_area {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}
a.login {
    color: #F6C14C;
    padding: 12px 45px;
    transition: all 0.5s ease;
}
li.login_one {
    margin: 0 10px;
}
.navbar{padding: .5rem 2rem;}
a.login:hover {
    color: #fff;
    background-color: #F6C14C;
    border-radius: 40px;
    text-decoration: none;
    background-repeat: repeat-y;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#F6C141), to(#F5A623));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #F5A623, #F6C141);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #F5A623, #F6C141);
    /* IE 10 */
    background: -ms-linear-gradient(left, #F5A623, #F6C141);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #F5A623, #F6C141);
}

a.login.active {
    color: #fff;
    background-color: #F6C14C;
    border-radius: 40px;
    text-decoration: none;
    background-repeat: repeat-y;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#F6C141), to(#F5A623));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #F5A623, #F6C141);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #F5A623, #F6C141);
    /* IE 10 */
    background: -ms-linear-gradient(left, #F5A623, #F6C141);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #F5A623, #F6C141);
}
.navbar-dark .navbar-toggler {background-color: #F5A623;}

