<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3 footer-m">
        
        <!-- Grid column -->
        <div class="col-md-2 col-lg-1 mx-auto mt-2">
          <a class="navbar-brand" href="#"><img src="/assets/Reg_Bingos_logo.png" style="width:80px;"/></a>
      </div>
      <!-- Grid column -->


       <!-- Grid column -->
       <div class="col-md-2 col-lg-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-normal color">Company</h6>
        <ul>
          <li><a href="#!">About Us</a></li>
          <li><a href="#!">News</a></li>
          <li><a href="#!">Faq</a></li>
          <li> <a href="#!">Contact Us</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-normal color">Policy</h6>
        <ul>
          <li><a href="#!">Terms and Conditions</a></li>
          <li><a href="#!">Copyright Policy</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-normal color">Services</h6>
        <ul>
          <li><a href="#!">Web Hosting</a></li>
          <li><a href="#!">Cloud Hosting</a></li>
          <li><a href="#!">Dedicated Hosting</a></li>
          <li> <a href="#!">Domain Name</a></li>
        </ul>
      </div>
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-normal color">Contact</h6>
          <ul>
            <li><a href="#!"> <i class="fas fa-phone mr-3"></i> 00 285 900 38502</a></li>
            <li><a href="#!"><i class="fas fa-envelope mr-3"></i> info@gmail.com</a></li>
            <li><a href="#!"><i class="fas fa-map-marker mr-3"></i> Brizbin, Australia, Road 398, Center Office 38, flooor 3</a></li>
          </ul>
             <!-- Social buttons -->
          <div class="text-center text-md-left ">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a  href="#!" class="btn-floating btn-sm rgba-white-slight mx-1 ">
                  <i class="fab fa-facebook-f social"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a  href="#!" class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter social"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a  href="#!" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-linkedin-in social"></i>
                 
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#!" class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fab fa-instagram social"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
     
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->