<div class="my-custom-class">
        <div class="container-fluid share_story_container">
            <div class="row">
            <div class="d-flex flex-column mb-5 mt-5 col-lg-12 p-0">
                <div class="share_story">
                    <b class="story_feed"><i class="fas fa-arrow-left"></i>&nbsp;My Groups</b>
                </div>
            </div> 
            
            <div class="d-flex flex-row justify-content-between mt-4 col-lg-12">
    
                <div class="shadow p-3 mb-5 bg-white rounded divselect position-relative">
                  <div class="position-absolute img_align">
                   <div class="circlebg rounded-circle">
                        <div class="circle">+</div>
                   </div>
                   </div>
                   <div class="position-absolute newgroup">Creat New Group</div>
                </div>
    
                <div class="shadow p-3 mb-5 bg-white rounded divselect position-relative">
                    <div class="position-absolute img_align">
                        <div class="circlebg rounded-circle">
                            <img src="assets/friends.jpg" class="img1 rounded-circle">
                        </div>
                    </div>
                    <div class="position-absolute friends">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <div class="newgroup imglineheight">Class 3 friend</div>
                                <div class="d-flex flex-row justify-content-center">
                                    <div><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                    <div><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                    <div><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                </div>
                            </div> 
                            <div>
                                <div class="ellipsis-v-icon navbar-nav ml-auto ellipsis-margin mygroup"><a href=""><i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
                                        <div class="dropdown-menu dropdown-menu-right">
                                          <a class="dropdown-item" href="#"><img src="/assets/edit.jpg"/>&nbsp; Edit Group</a>
                                          <a class="dropdown-item" href="#"><img src="/assets/delete.jpg"/>&nbsp; Delete Group</a>
                                        </div>
                                      </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="shadow p-3 mb-5 bg-white rounded divselect position-relative">
                        <div class="position-absolute img_align">
                            <div class="circlebg rounded-circle">
                                <img src="assets/friends.jpg" class="img1 rounded-circle">
                            </div>
                        </div>
                        <div class="position-absolute friends">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="tution_mate">
                                    <div class="newgroup imglineheight">Tution Mate</div>
                                    <div class="d-flex flex-row justify-content-end live__scroll">
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
                                        <div class="live__scroll--box"><img src="assets/icon.png" class="circleimg rounded-circle"></div>
    
                                    </div>
    
                                </div>
                                <div class="twomore">&nbsp;+ 2 more</div> 
                                <div>
                                    <div class="ellipsis-v-icon navbar-nav ml-auto ellipsis-margin mygroup"><a href=""><i class="fas fa-ellipsis-v dropdown-toggle" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu dropdown-menu-right">
                                              <a class="dropdown-item" href="#"><img src="/assets/edit.jpg"/>&nbsp; Edit Group</a>
                                              <a class="dropdown-item" href="#"><img src="/assets/delete.jpg"/>&nbsp; Delete Groups</a>
                                            </div>
                                          </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>