<div class="continer-fluid">
  <div class="d-flex justify-content-around bd-highlight mb-3">
    <div class="p-2 bd-highlight"><img src="/assets/kids-registration.svg" class="img-fluid" alt="Italian Trulli"></div>
    <div class="col-lg-5 p-2 bd-highlight">
      <div class="d-flex justify-content-center bd-highlight mb-3 logo"><img class="img-fluid" src="/assets/Reg_Bingos_logo.png" alt="Italian Trulli"></div>
      <div class="d-flex flex-column">
        <h4 class="text-center">Register</h4>
        <div class="mt-4 register">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">First Name*</label>
                      <input type="name" class="form-control" id="inputName" placeholder="Enter First Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputLastname">Last Name*</label>
                      <input type="lastname" class="form-control" id="inputLastname" placeholder="Enter Last Name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputdate">Date of Birth</label>
                      <input type="dateofbirth" class="form-control" id="inputdate" placeholder="Date of Birth">
                      <span class="fa fa-fw fa-calendar-alt field-icon toggle-password"></span>

                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputState">Country</label>
                      <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail4">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Password">
                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="confirmpassword" class="form-control" id="inputConfirmPassword" placeholder="Enter Confirm Password">
                        <span class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                  </div>
              </form>
        </div>

        <div class="d-flex justify-content-center bd-highlight mb-2">
            <button type="button" class="btn btn-custom">Register</button>
        </div>
          <p class="text-center">Already a member ? <span class="login"><a href="#">Login here.</a></span></p>
      </div>
    </div>
    
  </div>
</div>
