 <div id="container">
 <div class="data-leftside">
  <div class="left-side-img">
    <img src="/assets/kids-registration.svg" alt="Italian Trulli">
  </div>
 </div>

  <div class="data-rightside">
    
    <div class="Registration-main-part">
    <div class="logo-design"> 
    <img src="/assets/Reg_Bingos_logo.png" alt="Italian Trulli">
    </div>
    <div class="Registration-header">
      <h1> Register</h1>
    </div>
    <form id="registration-form">
      <div class="parent-form">
        <div class="form-details">
          <label> First Name*</label>
          <div>
            <input type="test" name="FirstName" placeholder="Enter first name">
          </div>
        </div>
        <div class="form-details">
          <label> Last Name*</label>
          <div>
            <input type="test" name="LastName" placeholder="Enter last name">
          </div>
        </div>
        <div class="form-details dateOfBirth">
          <label> Date of Birth</label>
          <div>
            <input type="date" name="LastName" placeholder="Enter last name">
          </div>
        </div>
        <div class="form-details">
          <label> country</label>
          <div>
            <select>
              <option>Select Country</option>
              <option>India</option>
              <option>UK</option>
              <option>US</option>
              <option>Sing</option>
              <option>AUS</option>
            </select>
          </div>
        </div>
        <div class="form-details emailAddress">
          <label> Email Address</label>
          <div>
            <input type="test" name="EmailAddress" placeholder="Enter email address">
          </div>
        </div>
        <div class="form-details">
          <label> Password</label>
          <div>
            <input type="Password" name="EmailAddress" placeholder="Enter Password">
          </div>
        </div>
        <div class="form-details">
          <label> Conform Password</label>
          <div>
            <input type="Password" name="EmailAddress" placeholder="Enter Password again">
          </div>
        </div>
      </div>
      <div class="submit-btn">
        <div class="submit-form">
          <button>Register</button>
        </div>
        <div class="already-mem">
          <span class="member-already">Already a member?</span><span class="login-here"> <a href="/login"> Login here</a></span>
        </div>
      </div>
    </form>
    </div>
  </div>
 </div>