<div class="my-custom-class">
	<div class="container-fluid">
	<div class="d-flex justify-content-between align-items-center mb-5 mt-5">
        <div class="flex-grow-1 story_feed"><b>Story Feed</b></div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-3">Sort By:</div>
              <div class="dropdown mr-3">
                  <button class="btn customdd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Latest
                  <i class="fas fa-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>

               <div class="dropdown ml-auto">
                  <button class="btn customdd dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                  <i class="fas fa-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>
        </div>

        
        <div class="d-flex flex-wrap flex-row">
         
          <div class="position-relative imgs">
            <img src="assets/23455.jpg" class="bordercolor1">
             <div class="img-content img-content-center shadow">
                <h5><b>The foolish Animal</b></h5>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                 <div class="d-flex justify-content-between">
               <div>
                 <div class="user-pic"><img src="assets/icon.png" ></div>
                  <div class="user_name">
                   <p>Elise Beverley</p>
                   <p class="auther">Auther</p>
                 </div>
               </div>
               <div class="read">Read more &nbsp;<i class="fas fa-chevron-right"></i></div>
             </div>
             </div>
             <div class="social_icons d-flex">
               <div class="heart"><i class="fas fa-heart"></i> 12 likes</div>
               <div class="view"><i class="fas fa-eye"></i> 40 views</div>
               <div class="share"><i class="fas fa-share-alt"></i></div>
             </div>
          </div>

          <div class="position-relative imgs">
            <img src="assets/23455.jpg" class="bordercolor2">
             <div class="img-content img-content-center shadow">
                <h5><b>The foolish Animal</b></h5>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                 <div class="d-flex justify-content-between">
               <div>
                 <div class="user-pic"><img src="assets/icon.png" ></div>
 				 <div class="user_name">
                   <p>Elise Beverley</p>
                   <p class="auther">Auther</p>
                 </div>
               </div>
               <div class="read">Read more &nbsp;<i class="fas fa-chevron-right"></i></div>
             </div>
             </div>
              <div class="social_icons d-flex">
               <div class="heart"><i class="fas fa-heart"></i> 12 likes</div>
               <div class="view"><i class="fas fa-eye"></i> 40 views</div>
               <div class="share"><i class="fas fa-share-alt"></i></div>
             </div>
          </div>

          <div class="position-relative imgs">
            <img src="assets/23455.jpg" class="bordercolor3">
             <div class="img-content img-content-center shadow">
                <h5><b>The foolish Animal</b></h5>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                 <div class="d-flex justify-content-between">
               <div>
                 <div class="user-pic"><img src="assets/icon.png" ></div>
                  <div class="user_name">
                   <p>Elise Beverley</p>
                   <p class="auther">Auther</p>
                 </div>
               </div>
               <div class="read">Read more &nbsp;<i class="fas fa-chevron-right"></i></div>
             </div>
             </div>
              <div class="social_icons d-flex">
               <div class="heart"><i class="fas fa-heart"></i> 12 likes</div>
               <div class="view"><i class="fas fa-eye"></i> 40 views</div>
               <div class="share"><i class="fas fa-share-alt"></i></div>
             </div>
          </div>

          <div class="position-relative imgs">
            <img src="assets/23455.jpg" class="bordercolor4">
             <div class="img-content img-content-center shadow">
                <h5><b>The foolish Animal</b></h5>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                 <div class="d-flex justify-content-between">
               <div>
                 <div class="user-pic"><img src="assets/icon.png" ></div>
                 <div class="user_name">
                   <p>Elise Beverley</p>
                   <p class="auther">Auther</p>
                 </div>
               </div>
               <div class="read">Read more &nbsp;<i class="fas fa-chevron-right"></i></div>
             </div>
             </div>
              <div class="social_icons d-flex">
               <div class="heart"><i class="fas fa-heart"></i> 12 likes</div>
               <div class="view"><i class="fas fa-eye"></i> 40 views</div>
               <div class="share"><i class="fas fa-share-alt"></i></div>
             </div>
          </div>
          
        </div>


	</div>
</div>