/* You can add global styles to this file, and also import other style files */
body {
    background-color: #A9D7E1 !important;
}
@media(max-width:768px){

    .continer-fluid > .d-flex.justify-content-around.bd-highlight.mb-3 {
        justify-content: initial!important;
        flex-direction: column;
    }

    .logo img {
        margin-top: 30px;
    
    }

    nav.ml-4.mr-4 {
        margin: initial !important;
    }

    a.login {
        padding: 10px 20px!important;
    }

    
}



