<div class="my-custom-class">
<div class="container-fluid">
    <div class="row">
        <!-- Top banner -->
        <div class="col-12 position-relative top-banner">
            <div class="row"><img src="/assets/banner.jpg" class="img-fluid"/></div>
            <div class="position-absolute d-flex flex-column align-items-center content">
                <h2>Explore the world of stories</h2>
                <p>Read stories from kids all around the new world explore a new world of fictional and non-fictionl stories and write your own beautiful stories.</p>
                <button type="button" class="btn btn-secondary getstart">Get started!</button>
            </div>
        </div>
        <!-- Map -->
        <div class="d-flex flex-column align-items-center map_container">
                <h2>Writers All Around the World</h2>
                <div><img src="/assets/map.jpg" class="img-fluid"/></div>
        </div>
         <!-- How it Works -->
         <div class="d-flex flex-column align-items-center how_it_work_container">
            <h2>Writers All Around the World</h2>
            <div class="d-flex flex-row justify-content-center flex-wrap pb-5">
                <div class="col-5">
                    <div class="img"><img src="/assets/how_to_work_1.jpg" class="img-fluid"/></div>
                    <div class="oneimg"><img src="/assets/one.jpg" class="img-fluid"/></div>
                    <h5>Write a Story in Bongos Writers Club</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>

                <div class="col-5">
                        <div class="img"><img src="/assets/how_to_work_2.jpg" class="img-fluid"/></div>
                        <div class="oneimg"><img src="/assets/two.jpg" class="img-fluid"/></div>
                        <h5>Write a Story in Bongos Writers Club</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>

                <div class="col-5">
                        <div class="img"><img src="/assets/how_to_work_3.jpg" class="img-fluid"/></div>
                        <div class="oneimg"><img src="/assets/three.jpg" class="img-fluid"/></div>
                        <h5>Write a Story in Bongos Writers Club</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>

                <div class="col-5">
                        <div class="img"><img src="/assets/how_to_work_3.jpg" class="img-fluid"/></div>
                        <div class="oneimg"><img src="/assets/four.jpg" class="img-fluid"/></div>
                        <h5>Write a Story in Bongos Writers Club</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div> 
        </div>
         <!-- Write Your Heart Out -->
         <div class="d-flex flex-row align-items-center write_your_container">
             <div class="col-6 pl-5">
                 <h5>Write Your Heart Out</h5>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                 <button type="button" class="btn btn-secondary white_button">Get started!</button>
             </div>
             <div class="col-6"><img src="/assets/writing_bg.jpg" class="img-fluid"/></div>
         </div>
        <!-- Today Pic Book -->
        <div class="d-flex flex-column align-items-center today_pic_book_con pl-5 pr-5">
            <h2>Today's Picture Book</h2>
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- The slideshow -->
                <div class="carousel-inner overflow">
                  <div class="carousel-item active">
                    <div class="d-flex">
                            <div class="col-5 p-0">
                                 <div class="wild"><img src="assets/animal.jpg" class="img-fluid" alt="Los Angeles"></div>
                            </div> 
                                <div class="col-7 p-0">
                                        
                                <div class="whitebg">
                            <h4>Two Friends & The Bear</h4>
                            <div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                                <div class="d-flex justify-content-between">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="col-5"><a href="#"><img src="/assets/icon.png" class="author_pic"/></a></div>
                                                <div class="col-7">
                                                    <div>Elise Beverley</div>
                                                    <div>Author</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-7"><div class="row justify-content-end readmore">Read More </div></div>
                                </div>
                            </div>
                    </div>
                </div>   
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="d-flex">
                        <div class="col-5  p-0">
                            <div class="wild"><img src="assets/animal.jpg" class="img-fluid" alt="Los Angeles"></div>
                        </div>
                        <div class="col-7  p-0">
                            <div class="whitebg">
                                <h4>Two Friends & The Bear</h4>
                            <div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <div class="d-flex justify-content-between">
                            <div class="col-4">
                                <div class="row">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="col-5"><a href="#"><img src="/assets/icon.png" class="author_pic"/></a></div>
                                        <div class="col-7">
                                            <div>Elise Beverley</div>
                                            <div>Author</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="row justify-content-end readmore">Read More</div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
                  <div class="carousel-item">
                    <div class="d-flex">
                            <div class="col-5  p-0">
                                <div class="wild"><img src="assets/animal.jpg" class="img-fluid" alt="Los Angeles"></div>  
                            </div>
                    <div class="col-7  p-0">
                        <div class="whitebg">
                            <h4>Two Friends & The Bear</h4>
                    <div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
                        <div class="d-flex justify-content-between">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="col-5"><a href="#"><img src="/assets/icon.png" class="author_pic"/></a></div>
                                            <div class="col-7">
                                                <div>Elise Beverley</div>
                                                <div>Author</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="row justify-content-end readmore">Read More </div>
                                </div>
                        </div>
                   
                </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="col-7 d-flex justify-content-center p-4">
                <button type="button" class="btn btn-secondary getstart">Get started!</button>
            </div>
        </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev shadow" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next shadow" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
        </div>

        <!-- Order Now -->
        <div class="d-flex footer_custom">
            <div class="imgbg">
                <div class="d-flex justify-content-even space-evenly">
                    <div class="img_allingment"><img src="/assets/footer_img.jpg"/></div>
                    <div class="d-flex justify-content-center align-items-start flex-column">
                        <h4>Order Now</h4>
                        <p>Write a 5 page story and publish the book</p>
                        <button type="button" class="btn btn-secondary getstart">Get started!</button>

                    </div>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>
