<div class="my-custom-class">
        <div class="container-fluid share_story_container">
            <div class="row">
                <div class="d-flex justify-content-between mb-5 mt-5 col-lg-12 p-0">
                    <div>
                        <div class="share_story">
                            <b class="story_feed">Slect Your Story Category</b>
                        </div>
                        <p class="mt-3">You can select upto 3 categories for your story.</p>
                    </div>
                    <button type="button" class="btn btn-secondary continue">Get started!</button>
                </div>

                <div class="d-flex flex-wrap justify-content-between">
                    <div class="mb-3 position-relative">
                        <img src="assets/select_story_bg.jpg" class="img-fluid rounded"/>
                        <div class="position-absolute d-flex justify-content-between p-2 w-100 Slect_bg_container">
                            <div class=" d-flex justify-content-between align-items-center w-100">
                                <div class="comic">Comic</div>
                                <div>
                                        <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="mb-3 position-relative">
                            <img src="assets/select_story_bg.jpg" class="img-fluid rounded"/>
                            <div class="position-absolute d-flex justify-content-between p-2 w-100 Slect_bg_container">
                                <div class=" d-flex justify-content-between align-items-center w-100">
                                    <div class="comic">Comic</div>
                                    <div>
                                            <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                    <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 position-relative">
                                <img src="assets/select_story_bg.jpg" class="img-fluid rounded"/>
                                <div class="position-absolute d-flex justify-content-between p-2 w-100 Slect_bg_container">
                                    <div class=" d-flex justify-content-between align-items-center w-100">
                                        <div class="comic">Comic</div>
                                        <div>
                                                <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 position-relative">
                                    <img src="assets/select_story_bg.jpg" class="img-fluid rounded"/>
                                    <div class="position-absolute d-flex justify-content-between p-2 w-100 Slect_bg_container">
                                        <div class=" d-flex justify-content-between align-items-center w-100">
                                            <div class="comic">Comic</div>
                                            <div>
                                                    <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                            <label class="custom-control-label" for="customCheck">&nbsp;</label>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                

                </div>



            </div>
        </div>
    </div>